.tab-navigation {
  display: flex;
  justify-self: center;
  border-bottom: 1px solid #4a5568;
  margin-bottom: 20px;
  width: 80%;
}

.tab-navigation__button {
  flex: 1;
  background-color: #2d3748;
  color: #e2e8f0;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.tab-navigation__button.active {
  background-color: #63b3ed;
  color: #1a202c;
}

.tab-navigation__button:hover {
  background-color: #4a5568;
}
